<div class="container py-2 h-20">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card text-white bg-dark">
          <p></p>
          <img src="https://media.discordapp.net/attachments/908798431064109098/1109131508859555840/rosalina_and_luma_mario_and_1_more_drawn_by_chocomiru__sample-f62702bc24b9199d09d4304be25273ce.jpg?width=419&height=385"
            class="rounded w-50 mx-auto" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-2 pb-1 pb-md-0 mb-md-5 px-md-2">Nuevo género</h3>

            <form action="/genres/add" method="post" class="px-md-2">

              <div class="form-outline mb-4">
                <input type="text" class="form-control form-control-lg" name="Genre" id="Genre" autofocus/>
                <label class="form-label" for="form3Example1q">Nombre</label>
              </div>

              <div class="form-outline">
                    <textarea class="form-control form-control-lg" name="Description" id="Description" rows="2"></textarea>
                    <label class="form-label" for="form3Example1w">Descripción</label>
                </div>
                <p></p>
              <button type="submit" class="btn btn-outline-light btn-floating m-1 btn-block btn-lg mx-auto ">Registrar</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>