<!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Acerca de</h1>
                        <p class="fs-4">Queremos compartir contigo algunas de las herramientas increíbles que hemos utilizado para crear The Cosmic Library. ¡Esperamos que te interesen tanto como a nosotros y que te inspiren a explorar aún más en tu propio camino como desarrolador!</p>
                        <a class="btn btn-primary btn-lg" href="https://github.com/1INTERWEB9/LIbraryWEB">Repositorio de GitHub</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <div class="fs-4 fw-bold mx-auto" style="background-color:greenyellow">NodeJS</div>
                                <p class="mb-0">Esencial para el desarrollo de proyectos web con JavaScript, permitiendo la construcción de aplicaciones escalables, de alta velocidad y con funcionalidades avanzadas del lado del servidor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <div class="fs-4 fw-bold mx-auto" style="background-color:green">MongoDB</div> 
                                <p class="mb-0">Base de datos NoSQL que se ha vuelto indispensable para proyectos web, gracias a su capacidad para manejar grandes volúmenes de datos, su escalabilidad y su flexibilidad en el esquema de datos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                                <div class="fs-4 fw-bold mx-auto" style="background-color:purple ; color:white">Bootstrap</div>
                                <p class="mb-0">Creación de interfaces de usuario modernas, adaptables a diferentes dispositivos y con un alto nivel de personalización</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                                <div class="fs-4 fw-bold mx-auto" style="background-color:firebrick">Git</div>
                                <p class="mb-0">Gestión eficiente del código fuente, la colaboración en equipo, la realización de versiones y la implementación de cambios de manera segura y controlada.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
                                <div class="fs-4 fw-bold mx-auto" style="background-color:orange">Handlebars</div>
                                <p class="mb-0">Motor de plantillas HTML para crear páginas web dinámicas con facilidad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                                <div class="fs-4 fw-bold mx-auto" style="background-color:aqua">Font Awesome</div>
                                <p class="mb-0">Biblioteca de iconos vectoriales, que permite agregar iconos de manera sencilla y escalable en un sitio web.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>