<!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url(https://mario.wiki.gallery/images/3/37/SMG_Library_Interior.png)">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://media.discordapp.net/attachments/908798431064109098/1106227725141807176/image.png?width=412&height=385" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">The Cosmic Library</h1>
                <p class="text-white-50 mb-0">Un universo de historias en The Cosmic Library</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-3">
            <div class="container my-2">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Encuentra tu libro estrella en The Cosmic Library</h2>
                        <p class="lead">¡Bienvenido(a) a The Cosmic Library! Un lugar para explorar el universo de la literatura y dejar que tu imaginación vuele alto. ¡Disfruta de tu estancia entre nuestras estrellas de papel!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full mx-auto " style="background-image: url('https://media.discordapp.net/attachments/908798431064109098/1106229373125808139/image.png?width=878&height=267');max-width: 800px; ">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 10rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-3">
            <div class="container my-2">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Explora el espacio infinito de la imaginación a través de nuestras páginas estelares.</h2>
                        <p class="mb-0">¿Listo(a) para explorar todo lo que The Cosmic Library tiene para ofrecer? Nuestra barra de navegación superior te llevará a través de un universo de géneros literarios, autores destacados, nuevas publicaciones y mucho más. ¡Navega por nuestra galaxia de libros y descubre tu próxima aventura literaria!</p>
                    </div>
                </div>
            </div>
        </section>