<div class="container py-1 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card text-white bg-dark">
          <p></p>
          <img src="https://media.discordapp.net/attachments/908798431064109098/1109131508859555840/rosalina_and_luma_mario_and_1_more_drawn_by_chocomiru__sample-f62702bc24b9199d09d4304be25273ce.jpg?width=419&height=385"
            class="rounded w-50 mx-auto" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Nuevo libro</h3>

            <form class="px-md-2">

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" />
                <label class="form-label" for="form3Example1q">Nombre</label>
              </div>

              <div class="form-group">
                <select class="select" name="NombreRol" id="NombreRol">
                        {{#if Genres}}
                        <option value="">Cargo o Rol de Trabajo</option>
                        {{/if}}
                        {{#each Genres}}
                        <option value="{{Genre}}">{{Genre}}</option>
                        {{else}}
                        <option value="">No hay roles de trabajo registrados</option>
                        {{/each}}
                    </select>
              </div>
                  

                

              <div class="mb-4">

                <select class="select">
                  <option value="1" disabled>Class</option>
                  <option value="2">Class 1</option>
                  <option value="3">Class 2</option>
                  <option value="4">Class 3</option>
                </select>

              </div>

              <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                <div class="col-md-6">

                  <div class="form-outline">
                    <input type="text" id="form3Example1w" class="form-control" />
                    <label class="form-label" for="form3Example1w">Registration code</label>
                  </div>

                </div>
              </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>