<!-- Footer -->
<footer class="bg-dark text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Github -->
      <a class="btn btn btn-outline-light btn-floating m-1" href="https://github.com/1INTERWEB9" role="button"><i class="fa-brands fa-github fa-2x"></i></a>
      <a class="btn btn btn-outline-light btn-floating m-1" href="https://mcdonalds.com.co/" role="button"><i class="fa-solid fa-burger fa-2x"></i></a>
    </section>
    <!-- Section: Social media -->

    

    <!-- Section: Text -->
    <section class="mb-4">
      <p style="color:white">
        The Cosmic Library es una plataforma con fines educativos
      </p>
    </section>
    <!-- Section: Text -->

    

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:rgba(193,242,255,255);">
    © 2023 Copyright:
    <a class="text-dark" href="/">The Cosmic Library</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->