<!-- Footer -->
<footer class="bg-light text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Github -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/1INTERWEB9" role="button"><i class="fa-brands fa-github fa-2x"></i></a>
      <a class="btn btn-outline-dark btn-floating m-1" href="https://mcdonalds.com.co/" role="button"><i class="fa-solid fa-burger fa-2x"></i></a>
    </section>
    <!-- Section: Social media -->

    

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        McNomina es una plataforma con fines educativos
      </p>
    </section>
    <!-- Section: Text -->

    

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="/">McNomina</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->